<div>
  <div>
    <img src="./assets/images/avenger.jpg" />
  </div>

  <ion-grid>
    <ion-row>
      <ion-col>
        <div id="text-center">
          <ion-card-subtitle>ยอดปัจจุบัน</ion-card-subtitle>
        </div>
      </ion-col>
      <ion-col>
        <div style="text-align: center;">
          <ion-card-subtitle>ยอดระดมทุนที่ต้องการ</ion-card-subtitle>
        </div>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <div id="text-center">
          <h5 id="h5">1,000฿</h5>
        </div>
      </ion-col>
      <ion-col>
        <div id="text-center">
          <h5 id="h5">100,000฿</h5>
        </div>
      </ion-col>
    </ion-row>

  </ion-grid>
</div>