
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>

    <ion-title>ความคืบหน้า</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <div>
    <h3>Avenger Endgame</h3>
  </div>
  <div>
    <img src="./assets/images/avenger.jpg" />
  </div>
  <div>
    <ion-card-subtitle>รายละเอียด</ion-card-subtitle>
    <p id="detail">
      เรื่องราวการปิดจักรวาลมาร์เวลเฟส 3
      เหตุการณ์ภายหลังจากที่ธานอสดีดนิ้วล้างครึ่งจักรวาลเหล่าฮีโร่ที่เหลือรอดจะหาทางกอบกู้จักรวาลนี้คืนมาได้อย่างไร
      โดยในภาคนี้จะมีตัวเด็ดอย่างกัปตันมาร์เวลมาร่วมเสริมทัพด้วย.
    </p>
  </div>

  <div>
    <ion-card-subtitle>วันที่</ion-card-subtitle>
    <p id="date">
      11 | 11 | 2563
    </p>
  </div>
</ion-content>
