<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>

    <ion-title>นักแสดงทั้งหมด</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div>

    <ion-grid style="padding-top: 0px;">
      <ion-row>
        <ion-col>
          <div>
            <img src="./assets/images/avenger.jpg">
            <h6>xxx xxx</h6>
          </div>
        </ion-col>
        <ion-col>
          <div>
            <img src="./assets/images/avenger.jpg">
            <h6>xxx xxx</h6>
          </div>
        </ion-col>
        <ion-col>
          <div>
            <img src="./assets/images/avenger.jpg">
            <h6>xxx xxx</h6>
          </div>
        </ion-col>
      </ion-row>
  
      <ion-row>
        <ion-col>
          <div>
            <img src="./assets/images/avenger.jpg">
            <h6>xxx xxx</h6>
          </div>
        </ion-col>
        <ion-col>
          <div>
            <img src="./assets/images/avenger.jpg">
            <h6>xxx xxx</h6>
          </div>
        </ion-col>
        <ion-col>
          <div>
            <img src="./assets/images/avenger.jpg">
            <h6>xxx xxx</h6>
          </div>
        </ion-col>
      </ion-row>
  
    </ion-grid>
    
  </div>

</ion-content>