<div>

  <ion-grid style="padding-top: 0px;">
    <ion-row>
      <ion-col>
        <div>
          <img src="./assets/images/avenger.jpg">
          <h6>xxx xxx</h6>
        </div>
      </ion-col>
      <ion-col>
        <div>
          <img src="./assets/images/avenger.jpg">
          <h6>xxx xxx</h6>
        </div>
      </ion-col>
      <ion-col>
        <div>
          <img src="./assets/images/avenger.jpg">
          <h6>xxx xxx</h6>
        </div>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <div>
          <img src="./assets/images/avenger.jpg">
          <h6>xxx xxx</h6>
        </div>
      </ion-col>
      <ion-col>
        <div>
          <img src="./assets/images/avenger.jpg">
          <h6>xxx xxx</h6>
        </div>
      </ion-col>
      <ion-col>
        <div>
          <img src="./assets/images/avenger.jpg">
          <h6>xxx xxx</h6>
        </div>
      </ion-col>
    </ion-row>

  </ion-grid>

  <ion-list>
    <ion-list-header id="header">ผู้กำกับ</ion-list-header>

    <ion-grid>
      <ion-row>
        <ion-col>
          <div>
            <img src="./assets/images/avenger.jpg">
          </div>
        </ion-col>

        <ion-col></ion-col>

        <ion-col></ion-col>
      </ion-row>
    </ion-grid>
  </ion-list>

</div>